.center-login {
    margin-left: auto;
    margin-right: auto;
    display: table;
    position: fixed;
    left: 50%;
    top: 40%;
    width: 40%;
    transform: translate(-50%, -50%);
    text-align: center;
}