<app-header></app-header>
<app-navigation-menu></app-navigation-menu>
<main>
  <mat-tab-group>
    <mat-tab label="Cuidadores">
      <app-card-services category="cuidador"></app-card-services>
    </mat-tab>
    <mat-tab label="Acompanhamento">
      <app-card-services category="acompanhamento"></app-card-services>
    </mat-tab>
    <mat-tab label="Outros serviços">
      <app-card-services category="outros"></app-card-services>
    </mat-tab>
  </mat-tab-group>
</main>
<app-navigation-menu-secundary></app-navigation-menu-secundary>
<app-footer></app-footer>