<div class="cards">
  <mat-card class="example-card" style="width: 300px" *ngFor="let s of services">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>{{s.title}}</mat-card-title>
      <mat-card-subtitle>{{s.category}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>
        {{s.description}}
      </p>
    </mat-card-content>
    <h3><span style="color: green">Preço: </span>{{s.value | currency:'R$'}}</h3>
    <mat-card-actions>
      <button mat-button class="matButton">PROSSEGUIR</button>
    </mat-card-actions>
    <div class="ratingSystem">
      <bar-rating [max]="5"></bar-rating>
    </div>
  </mat-card>
</div>