<footer class="page-footer font-small  cyan lighten-2">

  <div class="footer-copyright text-center py-3">
    <h6 style="color: white !important"><mdb-icon fas icon="box-open"></mdb-icon> <strong> Utilidades</strong></h6>
    <hr>
    <div class="container">
      <div class="row">
        <div class="col" style="cursor: pointer">
          <span style="color: white !important" (click)="getRecommendations()">
            <mdb-icon fas icon="grin-stars" style="color: yellow !important"></mdb-icon> <strong> RECOMENDAÇOES</strong>
          </span>
        </div>
        <div class="col" style="cursor: pointer">
          <span style="color: white !important">
            <mdb-icon fas icon="user-circle" style="color: violet !important"></mdb-icon> <strong> ASSISTENTE
              VIRTUAL</strong>
          </span>
        </div>
      </div>
    </div>
  </div>
</footer>